<% provide(:title, "Flash Cards") %>
	<h1> Will display all users cards </h1>
	<p> <%= current_user.name %> </p>
	<% if current_user.method_posts.any? %> 
	<p>1 <%= current_user.method_posts.find(1).content %> </p>
	<% else %>
	<p> waiting for cards </p>
	<% end %>