<% provide(:title, "Flash Cards") %>
	<h1> Will display all users cards </h1>
	<p> <%= current_user.name.capitalize %>'s Cards </p>
	<% if current_user.method_posts.any? %> 
	<% total_cards = current_user.method_posts.count %>
	<% card_number_1 = current_user.method_posts.first.id %>
	<% card_number_2 = current_user.method_posts.last.id %>
	<P> Number of cards: <%= total_cards %>
	<% for x in card_number_1..card_number_2 %>
	<p>Card Number <%= x %>: <%= current_user.method_posts.find(x).content %>
	<% end %>
	<% else %>
	<p> waiting for cards </p>
	<% end %>