	<% total_cards = current_user.method_posts.count %>
	<% card_number_1 = current_user.method_posts.first.id %>
	<% card_number_2 = current_user.method_posts.last.id %>
	<% for x in card_number_1..card_number_2 %>
	<p>Card Number <%= x %> <br>
	Class Name: <%= current_user.method_posts.find(x).class_name %> <br>
	Method Name: <%= current_user.method_posts.find(x).method_name %> <br>
	Method description: <%= current_user.method_posts.find(x).content %> <br>
	</p>
	<% end %>

